@{
    ViewData["Title"] = "Current Tasks";
}

<div class="text-center">
    <h1 class="display-4">Current Tasks</h1>
</div>


<div class="container">
    <h2 class="text-center mb-4">Four Quadrant Table</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th class="text-center" colspan="2">Column 1</th>
            </tr>
            <tr>
                <th></th>
                <th class="text-center">Quadrant 1</th>
                <th class="text-center">Quadrant 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center" rowspan="2">Row 1</th>
                <td>Content 1</td>
                <td>Content 2</td>
            </tr>
            <tr>
                <td>Content 5</td>
                <td>Content 6</td>
            </tr>
            <tr>
                <th class="text-center" rowspan="2">Row 2</th>
                <td>Content 9</td>
                <td>Content 10</td>
            </tr>
            <tr>
                <td>Content 13</td>
                <td>Content 14</td>
            </tr>
        </tbody>
    </table>
</div>
